		/* Font-Face */
		  @font-face {
		    font-family: 'FontZag';
		    src: url('../fonts/zag/ZagRegular.otf');
		    src: url('../fonts/zag/ZagRegular.otf?#iefix'), /* IE4+ */
		         url('../fonts/zag/ZagRegular.woff') format('woff'),
		         url('../fonts/zag/ZagRegular.ttf') format('truetype'), /* font chuan */
		         url('../fonts/zag/ZagRegular.svg#vni-courinormal') format('svg'); /* iphone, ipad*/
			}
			@font-face {
		    font-family: 'Gothic';
		    src: url('../fonts/Gothic/LeagueGothic-Regular.otf');
		    src: url('../fonts/Gothic/LeagueGothic-Regular.otf?#iefix'), /* IE4+ */
		         url('../fonts/Gothic/LeagueGothic-Regula.woff') format('woff'),
		         url('../fonts/Gothic/LeagueGothic-Regula.ttf') format('truetype'), /* font chuan */
		         url('../fonts/Gothic/LeagueGothic-Regula.svg#vni-courinormal') format('svg'); /* iphone, ipad*/
			}
			@font-face {
		    font-family: 'PT';
		    src: url('../fonts/PT/PTF55F.ttf');
		    src: url('../fonts/PT/PTF55F.ttf?#iefix'), /* IE4+ */
		         url('../fonts/PT/PTF55F.woff') format('woff'),
		         url('../fonts/PT/PTF55F.ttf') format('truetype'), /* font chuan */
		         url('../fonts/Gothic/LeagueGothic-Regula.svg#vni-courinormal') format('svg'); /* iphone, ipad*/
			}
			@font-face {
		    font-family: 'HelveticaNeu';
		    src: url('../fonts/HelveticaNeu/Regular/HelveticaNeue.ttf');
		    src: url('../fonts/HelveticaNeu/Regular/HelveticaNeue.ttf?#iefix'), /* IE4+ */
		         url('../fonts/HelveticaNeu/Regular/HelveticaNeue.woff') format('woff'),
		         url('../fonts/HelveticaNeu/Regular/HelveticaNeue.ttf') format('truetype'), /* font chuan */
		         url('../fonts/HelveticaNeu/Regular/HelveticaNeue.svg#vni-courinormal') format('svg'); /* iphone, ipad*/
			}
			@font-face {
		    font-family: 'bitter';
		    src: url('../fonts/bitter/Bitter-Regular.otf');
		    src: url('../fonts/bitter/Bitter-Regular.otf?#iefix'), /* IE4+ */
		    url('../fonts/bitter/Bitter-Regular.otf') format('woff'),
		    url('../fonts/bitter/Bitter-Regular.otf') format('truetype'), /* font chuan */
		    url('../fonts/bitter/Bitter-Regular.otf#vni-courinormal') format('svg'); /* iphone, ipad*/
			}
			@font-face {
		    font-family: 'raleway';
		    src: url('../fonts/raleway/Raleway-Regular.ttf');
		    src: url('../fonts/raleway/Raleway-Regular.ttf?#iefix'), /* IE4+ */
		    url('../fonts/raleway/Raleway-Regular.ttf') format('woff'),
		    url('../fonts/raleway/Raleway-Regular.ttf') format('truetype'), /* font chuan */
		    url('../fonts/raleway/Raleway-Regular.ttf#vni-courinormal') format('svg'); /* iphone, ipad*/
			}
			@font-face {
		    font-family: 'SourceSanPro';
		    src: url('../fonts/Source_Sans_Pro/SourceSansPro-Black.ttf');
		    src: url('../fonts/Source_Sans_Pro/SourceSansPro-Black.ttf?#iefix'), /* IE4+ */
		    url('../fonts/Source_Sans_Pro/SourceSansPro-Black.ttf') format('woff'),
		    url('../fonts/Source_Sans_Pro/SourceSansPro-Black.ttf') format('truetype'), /* font chuan */
		    url('../fonts/Source_Sans_Pro/SourceSansPro-Black.ttf#vni-courinormal') format('svg'); /* iphone, ipad*/
			}
		/* End - FontFace */

		/* Body */
		html,body,h1,h2,h3,h4,h5,p{
			font-family: SourceSanPro!important;
			margin: 0;
		}
		#warpper{
			display: none;
		}
		/* End-Body */

		/*------------------------*/
		/* Loader */
		#loader{
			position: fixed;
		    width: 100%;
		    height: 100%;
		    background: #fff;
		    top: 0;
		    left: 0;
		    z-index: 1000000;
		}
		#loader>span {
		  position: absolute;
		  left: 50%;
		  top: 50%;
		  z-index: 1;
		  width: 150px;
		  height: 150px;
		  margin: -75px 0 0 -75px;
		  border: 16px solid #f3f3f3;
		  border-radius: 50%;
		  border-top: 16px solid #c71021;
		  width: 120px;
		  height: 120px;
		  -webkit-animation: spin 2s linear infinite;
		  animation: spin 2s linear infinite;
		}

		@-webkit-keyframes spin {
		  0% { -webkit-transform: rotate(0deg); }
		  100% { -webkit-transform: rotate(360deg); }
		}

		@keyframes spin {
		  0% { transform: rotate(0deg); }
		  100% { transform: rotate(360deg); }
		}

		/* Add animation to "page content" */
		.animate-bottom {
		  position: relative;
		  -webkit-animation-name: animatebottom;
		  -webkit-animation-duration: 1s;
		  animation-name: animatebottom;
		  animation-duration: 1s
		}

		@-webkit-keyframes animatebottom {
		  from { bottom:-100px; opacity:0 } 
		  to { bottom:0px; opacity:1 }
		}

		@keyframes animatebottom { 
		  from{ bottom:-100px; opacity:0 } 
		  to{ bottom:0; opacity:1 }
		}

		/* End-Loader */

		/*Right Icon */
		#iconNaviRight{
			position: fixed;
			bottom: 165px;
			right: 0;
			z-index: 100;
			transition: .5s;
		}
		#iconNaviRight>ul>li:nth-child(1){
			transform: translateY(500px);
			transition: .5s .1s;
		}
		#iconNaviRight>ul>li:nth-child(2){
			transform: translateY(500px);
			transition: .5s .2s;
		}
		#iconNaviRight>ul>li:nth-child(3){
			transition: .5s .3s;
			transform: translateY(500px);
		}
		#iconNaviRight>ul>li:nth-child(4){
			transition: .5s .4s;
			transform: translateY(500px);
		}
		#iconNaviRight>ul>li:nth-child(5){
			transition: .5s .5s;
			transform: translateY(500px);
		}
		.iconRight{
			position: relative;
			-moz-border-radius: 65px;
		    -webkit-border-radius: 65px;
		    border-radius: 65px;
		    background-color: #b1b1b1;
		    width: 50px;
		    height: 50px;
		    display: inline-block;
			transition: 0.75s;
			box-shadow:  inset 0 0 4px 2px rgba(0,0,0,0.4));
			-moz-box-shadow: inset 0 0 4px  2px rgba(0,0,0,0.4);
			-webkit-box-shadow: inset 0 0 4px 2px rgba(0,0,0,0.4);
			-o-box-shadow: inset 0 0 4px 2px rgba(0,0,0,0.4);
			margin: 5px 10px;
		}
		.iconRight i{
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%,-50%);
			-ms-transform: translate(-50%,-50%);
			-o-transform: translate(-50%,-50%);
			transform: translate(-50%,-50%);
		}
		.iconRight:hover{
			background-color: #c4c757;
			cursor: pointer;
			box-shadow: inset  inset 6px -6px 11px rgba(253, 14, 14, 0.35);;
			-moz-box-shadow: inset  inset 6px -6px 11px rgba(253, 14, 14, 0.35);;
		    -webkit-box-shadow: inset  inset 6px -6px 11px rgba(253, 14, 14, 0.35);;
			-o-box-shadow: inset  inset 6px -6px 11px rgba(253, 14, 14, 0.35);;

		}
		.iconRight:hover i{
			color: #c71021;
		}
		#home-icon-01,#home-icon-02{
			position: absolute;
			z-index: 100;
			background-size: contain!important;
			background-repeat: no-repeat!important;
		}
		#home-icon-01{
			background: url(../img/home.png);
		    top: 50%;
		    left: 50%;
		    -webkit-transform: translate(-50%,-50%);
		    -ms-transform: translate(-50%,-50%);
		    -o-transform: translate(-50%,-50%);
		    transform: translate(-50%,-50%);
		    width: 60px;
		    height: 60px;
		}
		#home-icon-02{
			background: url(../img/gecko.gif);
		    transform: rotate(-316deg);
		    top: -24px;
		    left: -17px;
		    transition: .5s;
		    width: 50px;
		    height: 50px;
		}
		#homePage:hover #home-icon-02{
			padding: 10px;
			transform: rotate(-355deg);
			top: -7px;
		    left: -6px;
		    width: 50px;
		    height: 50px;
		    z-index: 99;
		}
		/* Header */
		#img-header{
		    background: #591623;
		    color: white;
		    height: 720px;
		    width: 100%;
		    margin: 0 auto;
		    padding: 0;
		    position: relative;
		    z-index: 1;
		}
		/*
		.container {
		    padding-right: 15px;
		    padding-left: 15px;
		    margin-right: auto;
		    margin-left: auto;
		}
		.top {
		    text-align: center;
		}
		*/
		header{
			width:100vw;
			height: 670px;
			background-color: transparent(100%);
			position: absolute;
			z-index: 2;
			top: 0;
			left: 0;
		}
		#logo{
		    color: #FFFFFF;
		    margin: 50px 0;
			height: 170px;
		    background: #00254e;
		    position: relative;
		}
		#yellow-line{
			height: 4px;
			width: 100%;
			background-color:  #d39f00;
		}
		#left-logo{
		    position: absolute;
		    z-index: 2;
		    left: 23%;
		    top: 50%;
		    -webkit-transform: translate(-50%,-50%);
		    -ms-transform: translate(-50%,-50%);
		    -o-transform: translate(-50%,-50%);
		    transform: translate(-50%,-50%);
		    background: url(../img/logo.jpg);
		    background-size: cover;
		    background-repeat: no-repeat;
		    background-position: 50% 50%;
		    width: 125px;
		    height: 125px;
		}
		#right-logo{
			position: absolute;
		    z-index: 2;
		    left: 55%;
		    top: 50%;
		    -webkit-transform: translate(-50%,-50%);
		    -ms-transform: translate(-50%,-50%);
		    -o-transform: translate(-50%,-50%);
		    transform: translate(-50%,-50%);
		    min-width: 704px;
		    height: 60px;
		    background: url(../img/top-logo.png);
		    background-repeat: no-repeat;
		    margin: 1px 10px;
		}
		#line-logo{
		    position: relative;
		    top: 40px;
		    z-index: 1;
		    height: 88px;
		    width: 100%;
		    background: #ffffff;
		}

		#img-logo{
			line-height: 0;
	    	font-size: 75px;
		    color: #CCCCCC;
		    margin: 15px 0;
		    position: relative;
		}
		#gecko{
			position: absolute;
		    background: url(../img/gecko3.png) no-repeat;
		    top: -29px;
		    left: 188px;
		    z-index: 10;
		    height: 100px;
		    width: 95px;
		    background-size: contain;
		    transform: rotate(-8deg);
		}
		/*
		#line-logo{
			float: left;
		    background-color: rgba(0,0,0,0.2);
		    width: 100%;
		    height: 87px;
		    position: absolute;
		    top: 36px;
		    left: 0;
		    z-index: 1;
		}
		*/
		#text-logo{
			display: inline-block;
		    font-size: 23px;
		    margin: 1px 10px;
		}
		#text-logo h3,h5{
			margin: 0;
		}
		#text-logo h3{
			color: #ffba17;
		    font-size: 46px;
		    font-weight: bold;
		    margin-top: 26px;
		    margin-bottom: 8px;
		    line-height: 0;
		    height: 19px;
		    letter-spacing: 1.7px;
		}
		#text-logo h5{
			letter-spacing: 0.5px;
		    color: #c4c757;
		    font-size: 30px;
		    font-weight: normal;
		    margin: 5px 3px;
		}
		#title-header{
			margin: 20px 0 0 0;
		}
		.titleEn,.titleVn{
			color: #d2d5d8;
			font-family: SourceSanPro!important;
			font-size: 30px;
		}
		.titleEn{
			margin: 30px 0;
			font-weight: normal;
			font-style: italic;
			
		}
		.titleVn{
			font-weight: bold;
		}
		#navi-header{
			z-index: 11;
		    margin-top: 79px;
		}
		.iconNavi{
			position: relative;
			-moz-border-radius: 65px;
		    -webkit-border-radius: 65px;
		    border-radius: 65px;
		    background-color: #b1b1b1;
		    width: 65px;
		    height: 65px;
		    display: inline-block;
			transition: 0.75s;
			box-shadow:  inset 0 0 4px 2px rgba(0,0,0,0.4));
			-moz-box-shadow: inset 0 0 4px  2px rgba(0,0,0,0.4);
			-webkit-box-shadow: inset 0 0 4px 2px rgba(0,0,0,0.4);
			-o-box-shadow: inset 0 0 4px 2px rgba(0,0,0,0.4);
		}
		.iconNavi i{
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%,-50%);
			-ms-transform: translate(-50%,-50%);
			-o-transform: translate(-50%,-50%);
			transform: translate(-50%,-50%);
		}
		.iconNavi:hover{
			background-color: #c4c757;
			cursor: pointer;
			box-shadow: inset  inset 6px -9px 11px rgba(253, 14, 14, 0.35);;
			-moz-box-shadow: inset  inset 6px -9px 11px rgba(253, 14, 14, 0.35);;
		    -webkit-box-shadow: inset  inset 6px -9px 11px rgba(253, 14, 14, 0.35);;
			-o-box-shadow: inset  inset 6px -9px 11px rgba(253, 14, 14, 0.35);;

		}
		.iconNavi:hover i{
			color: #c71021;
		}
		.icon-header{
			padding: 19px 15px;
		    font-size: 28px!important;
		    color: #00254e;
		    margin-bottom: 10px;
		    transition: 0.3s;
		}
		.titleNavi,.contentNavi{
			font-size: 20px;
			transition: 0.4s;
		}
		.titleNavi{
			margin: 15px 0 0 0;
			color: #c4c757;
			font-weight: bold;
			font-family: SourceSanPro!important;
		}
		.contentNavi{
			color:#CCCCCC;
			font-weight: normal;
			font-size: 15px;
			font-family: PT!important;
		}
		.buttonNavi{
			background-color: #ffba17;
			width: 120px;
		    height: 34px;
		}
		.more-link{
			font-family: SourceSanPro!important;
			padding: 10px 25px;
		    background: #ffb707;
		    line-height: normal;
		    display: inline-block;
		    color: #00254e;
		    text-transform: uppercase;
		    margin-top: 25px;
		    font-size: 14px;
		    border-radius: 4px;
		    transition: all .3s;
		    padding: 9px;
		}
		.more-link:hover{
			text-decoration: none;
		    color: #c71021;
		    background: #c4c757;
		    
		}
		/* End-Header */

		/*------------------------*/

		/* Content */
		.content{
			position: relative;
			/*background-color: #2f2424;*/
			background-color:#00254e;
			width: 100%;
			color: #e4e0f8!important;
		}
		.content-2{
			padding-top: 15px;
			position: relative;
			background-color: #E7E7E7;
			width: 100%;
		}
		#ct-Name{
			width: 100%;
			margin-top: 20px;
			margin-bottom: 5px;
			font-size: 50px;
			color: #c4c757;
			font-weight: normal;
			font-family: SourceSanPro;
			letter-spacing: 0.7px;
		}

		#ct-Name2{
			margin-bottom: 5px;
			font-size: 40px;
			color: #E7E7E7;
			font-weight: normal;
			font-family: SourceSanPro;
			letter-spacing: 4px;
			transition: 0.5s;
		}
		#ct-Name2:hover{
			color: #ffb707;
			cursor: pointer;
		}
		.ct-left{
			margin-top: 15px!important;
		}
		.ct-right{
			text-align: center;
			padding: 20px;
			padding: 7px 15px!important;
		}
		.ct-video{	
			margin : 30px 0;
			/*-webkit-box-shadow: 0px 0px 9px 3px rgb(134, 122, 109);
		    -moz-box-shadow: 0px 0px 9px 3px rgb(134, 122, 109);
		    box-shadow: 0px 0px 9px 3px rgb(134, 122, 109);*/
		}
		.titleContent{
			font-family: SourceSanPro!important;
			position: relative;
			margin: 10px auto;
			border-bottom: 2px solid #ffb707;
		    border-top: 2px solid #ffb707;
		    text-align: center;
			color:#c4c757;
		}
		/*.titleContent:before{
		    content: "";
		    width: 72px;
		    z-index: 1;
		    position: absolute;
		    top: -2px;
		    left: 39.3%;
		    margin-left: -18px;
		    border-bottom: 2px solid #c71021;
		}
		.titleContent:after{
			content: "";
		    width: 80px;
		    z-index: 1;
		    position: absolute;
		    bottom: -2px;
		    right: 34%;
		    margin-left: -18px;
		    border-bottom: 2px solid #00254e;
		}*/
		.avatar{
			border-radius: 50%;
			width: 200px;
			height: 200px;
			margin: 13px;

		}
		.introduce{
			font-family: PT!important;
			margin: 20px;
			color: #c4c757;
		}
		/* End-Content */

		/*------------------------*/

		/* Footer */
		footer{
			position: relative;
			left: 0;
			z-index: 10;	
			width: 100%;
			height: 800px;
		}
		#map{
			position: absolute;
		    top: 0;
		    height: 800px;
		    width: 100%;
		    z-index: 2;
		}
		
		.map-show{
			z-index: 10!important;
		}
		.map-hidden{
			z-index: 3!important;
		}
		
		#map-link{
			padding: 2px 0px 0px 3px;
			position: absolute;
			top: 15px;
			left: 50%;
			-webkit-transform: translate(-50%,-50%);
			-ms-transform: translate(-50%,-50%);
			-o-transform: translate(-50%,-50%);
			transform: translate(-50%,-50%);
			height: 30px;
			width: 100px;
			background-color: #591623 ;
			color: #FFF;
			letter-spacing: 3px;
			text-align: center;
			border-radius: 0 0 5px 5px;
			transition: 0.4s;
			z-index: 11;
		}
		#map-link:hover{
			cursor: pointer;
		    color: #1b1b1b;
		    background-color: #c4c757;
		}
		
		.map-link-hidden{
			display: none!important;
		}
		.map-link-show{
			display: block!important;
		}
		
		#contact-link{
			padding: 2px 0px 0px 3px;
			position: absolute;
			top: 15px;
			left: 50%;
			-webkit-transform: translate(-50%,-50%);
			-ms-transform: translate(-50%,-50%);
			-o-transform: translate(-50%,-50%);
			transform: translate(-50%,-50%);
			height: 30px;
			width: 100px;
			letter-spacing: 3px;
			text-align: center;
			border-radius: 0 0 5px 5px;
			transition: 0.4s;
			z-index: 11;
			display: none;
			color: #FFF;
		    background-color: #591623 ;
		}
		#contact-link:hover{
			cursor: pointer;
		    background-color: #c4c757;
			color: #1b1b1b;
		}
		
		.contact-link-hidden{
			display: none!important;
		}
		.contact-link-show{
			display: block!important;
		}
		
		#footer-content{
			position: absolute;
		    top: 0;
		    left: 0;
		    z-index: 2;
		    padding-top: 50px;
		    width: 100%;
		    height: 800px;
		    background-color: rgba(0, 0, 0, 0.88);
		    color: #CCCCCC;
		    text-align: center;
		}
		#ft-icon{
			font-size: 75px;
			color: #CCCCCC;
		}
		#footer-content h2{
			margin: 30px 0;
		}
		#footer-content h5{
			margin: 10px 0;
			color:#c4c757;
		}
		#footer-content p{
			font-size: 15px;
			margin: 0;
		}
		.input-group{
			margin: 10px;
		}
		.form-control{
			background-color: transparent!important;
			border: none;
			margin: 15px 20px;
		}
		#form{
			width: 100%;
			margin-top: 10px;
		}
		input[type='submit'], a.btn {
			width: 214px;
			margin-left: 80%;
			margin-top: 7px;
		    background-color: #c71021;
		    color: #fff;
		    border-width: 0;
		    font-size: 1em;
		    padding: .8em 2em;
		    font-family: Oswald,sans-serif;
		    text-transform: uppercase;
		    letter-spacing: 3px;
		    -webkit-transition: background-color 0.3s ease;
		    -moz-transition: background-color 0.3s ease;
		    transition: background-color 0.3s ease;
		    border-radius: 0;
		    outline: none;
		    line-height: inherit;
		    border-radius: 24px;
		    transition: .3s;
		}
		input[type='submit']:hover {
		    background-color: #DD2334;
		    cursor: pointer;
		}
		#top-social{
			position: relative;
			z-index: 4;
			height: 1px;
		    width: 100%;
		    background: url(../img/pattern-2.png) repeat-x 0 0;
		}
		#social{
			position: relative;
			z-index: 2;
			left : 0;
			width: 100%;
			height: 80px;
			/*background: url(../img/page-bottom-bg.png) repeat 0 0;*/
			background: #0C0B0B;
		}
		.copyright{
			color:#CCCCCC;
		    text-align: left;
		}
		.footer-link{
			position: relative;
		}
		.footer-link::after{
			position: absolute;
		    bottom: 0;
		    left: 50%;
		    content: " ";
		    background: #c4c757;
		    height: 2px;
		    width: 0;
		    transition: .3s;
		}
		.footer-link:hover::after{
			width: 50%!important;
		}
		.footer-link::before{
			position: absolute;
		    bottom: 0;
		    right: 50%;
		    content: " ";
		    background: #c4c757;
		    height: 2px;
		    width: 0;
		    transition: .3s;
		}
		.footer-link:hover::before{
			width: 50%!important;
		}
		.footer-logo{
			color:#CCCCCC;
		    text-align: left;
		    padding-top: 25px;
		}
		#logo-2{
			width: 220px;
		}
		.social-link{
		}
		.social-link img{
			width: 50px;
			height: 50px;
			border-radius: 30px;
			transition: .4s;
		}
		.social-link li{
			padding: 15px 0 15px 30px;
			float: right;
		}
		.social-link ul {
		    list-style-type: none;
		    margin: 0;
		    padding: 0;
		}
		.social-link li a:hover img{
			border-radius: 5px;
		}
		/* End-Footer */

		/* Reusable Css */
		.txtCenter{
			text-align: center;
			display: inline-block!important;	
		}
		.text-Center{
			text-align: center;
		}
		.center-row{
			display: flex;
			justify-content: center;
			flex-direction: row;
		}
		.center-column{
			display: flex;
			justify-content: center;
			flex-direction: column;
		}
		#cursor:hover{
			cursor: pointer;
		}
		#hoverRed:hover{
			color: #f31a1a;
		}
		#hoverYellow:hover{
			color: #f1d605;
		}
		#hoverGreen:hover{
			color: #14c33b;
		}
		.redUSA{
			background: #591623;
		}
		#iconNaviRight.show >ul>li{
			transform: translateY(0);
		}
		.hidden{
			opacity: 0!important;
			display:none;
		}
