.pageTitle{
	position: absolute;
    bottom: -41px;
    left: 39%;
	width: 250px;
	height: 50px;
	background: #FFF;
	color: #1b1b1b;
	text-align: center;
	box-shadow: 7.071px 7.071px 30px 0px rgba(0, 0, 0, 0.1);
}
.pageTitle li{
	float: left;
}
.pageTitle>ul>li:nth-child(2){
	color: #ffba17;
}
.pageTitle li:hover a{
	color: #ffba17;
}
ul{
	text-decoration-style: none;
	text-decoration: none;
}